<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Semester List</title>
</head>
<body>
<table cellpadding="2" cellspacing="12">
    <thead>
        <th>Semester</th>
        <th>Credits</th>
        <th>Students</th>
    </thead>
    {% for semester,no in values %}

    <tr>
        <td>{{semester}}</td>
        <td>{{semester.credits}}</td>
        <td>{{no}}</td>
    </tr>
    {% endfor %}
</table>

<!--{% for item in semester %}-->
<!--{{item}}-->
<!--{% endfor %}-->

</body>
</html>
