<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>

<table cellpadding="2" cellspacing="12">
    <thead>
    <th>Name</th>
    <th>Semester</th>
    <th>Operations</th>
    </thead>
    {% for student in students %}
    <tr>
        <td>{{student.name}}</td>
        <td>{{student.semester}}</td>
        <td>
            <form action="{% url 'stud_operations' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{student.id}}" name="id"/>
                <input type="submit" value="Delete" name="btnDelete"/>
                <input type="submit" value="Update" name="btnUpdate"/>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>