<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subjects</title>
</head>
<body>
<table cellpadding="2" cellspacing="12">
    <thead>
        <th>Subject</th>
        <th>Optional</th>
        <th>Operations</th>
    </thead>
    {% for subject in subjects %}

    <tr>
        <td>{{subject.name}}</td>
        <td>{% if subject.optional == True %}
            Yes
            {% elif subject.optional == False %}
            No
            {% endif %}
        </td>
        <td>
            <form action="{% url 'sub_operations' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{subject.id}}" name="id"/>
                 <input type="submit" value="Delete" name="btnDelete"/>
                <input type="submit" value="Update" name="btnUpdate"/>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>